@font-face {
    font-family: main;
    src: url("font/PoetsenOne-Regular.ttf");
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: main;
    background: #009de6; /* For browsers that do not support gradients */
    background-image: url("https://www.transparenttextures.com/patterns/dark-matter.png");
    background-image: url("https://www.transparenttextures.com/patterns/dark-matter.png"),-webkit-linear-gradient(#009de6, #0159de); /* For Safari 5.1 to 6.0 */
    background-image: url("https://www.transparenttextures.com/patterns/dark-matter.png"),-o-linear-gradient(#009de6, #0159de); /* For Opera 11.1 to 12.0 */
    background-image: url("https://www.transparenttextures.com/patterns/dark-matter.png"),-moz-linear-gradient(#009de6, #0159de); /* For Firefox 3.6 to 15 */
    background-image: url("https://www.transparenttextures.com/patterns/dark-matter.png"),linear-gradient(#009de6, #0159de); /* Standard syntax */
}

hr{
  border: 0;
  height: 1px;
  background-color: #a1988a;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

input{
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    font-family: main;
    font-size: 28px;
    color: white;
    background-color: #1c2359;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3643a7;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #3643a7;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #3643a7;
}
:-moz-placeholder { /* Firefox 18- */
  color: #3643a7;
}

input[type=text] {
    padding: 8px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 4px;
}

input[type=button], input[type=submit]{
  padding: 8px;
  box-sizing: border-box;
  border: 0px;
  border-radius: 4px;
}

#disclaimer{
  height: auto;
  width: 100%;
  color: white;
  margin-bottom: 8px;
  text-align: center;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.75);
  font-size: 12px;
}

#top_container{
  height:544px;

}

#container{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding-bottom: 28px;

  background: #009de6; /* For browsers that do not support gradients */
  background-image: -webkit-linear-gradient(#009de6, #0159de); /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(#009de6, #0159de); /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(#009de6, #0159de); /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(#009de6, #0159de); /* Standard syntax */
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

#right{
  width: 55%;
  color: white;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.75);
  float: left;
  font-size: 18px;
  padding: 16px;
}

#right a{
  text-decoration: underline;
  color: inherit;
}

#right a:hover{
  color: #8c8c8c;
}

#right ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 4px;
}

#right ul li{
    position:relative;
}

#right ul li::before {
  content: '\2022';
  padding: 10px;
  margin-left: -25px;
}

#left{
  width: 40%;
  margin-top: 48px;
  float: left;
}

#testimonial{
  color: white;
  font-size: 26px;
  width: 100% - 32px;
  text-align: center;
  padding: 16px;
  height: auto;
  background-color: #3643a7;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

#testimonial a{
  color: inherit;
  text-decoration: none;
}

#testimonial a:hover{
  color: #8c8c8c;
}

#footer{
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  text-align: center;
  font-size: 14px;
  padding: 16px;
  width: 100% - 32px;
}

#footer a{
  text-decoration: none;
  color: inherit;
}

#slider {
  margin: auto;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 480px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 320px;
  height: 480px;
  text-align: center;
  vertical-align: middle;
  line-height: 720px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}
